<h1>Chat</h1>

<div>
  <input type="text" id="message" />
</div>

<div>
  <p id="messageLog"></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>