{{! condicional if }}
{{#if isAdmin}}
  {{! cuando se cumple la condición }}
  <h2>Hola bienvenido {{name}} al panel de administrador</h2>

{{else}}
  {{! Si no se cumple la condición }}
  <h2> ¿Quien sos vos? Anda palla ... </h2>
{{/if}}