<div class="container">
  <h1>Chat</h1>
  <div>
    <input type="text" id="chatBox" />
  </div>
  <div>
    <p id="messageLogs"></p>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>