<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coder</title>
  </head>
  <body>

    {{!-- Con esto todos los archivos que estén dentro de la carpeta views se vana a renderizar en {{{body}}} --}}
    {{{body}}}

  </body>
</html>